/* Base styles */
.nav-item .card-img-top {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }
  
  .nav-item {
    margin-bottom: 30px;
  }
  
  .menu-section {
    padding: 1em 2em 2em;
    margin-top: 20px;
  }
  
  body {
    padding-top: 56px;
    padding-bottom: 20px;
  }
  
  /* Media queries for smaller screens */
  @media (max-width: 768px) {
    .nav-item {
      margin-bottom: 20px;
    }
  
    .menu-section {
      padding: 1em;
      margin-top: 10px;
    }
  
    body {
      padding-top: 50px;
      padding-bottom: 15px;
    }
  }
  
  @media (max-width: 576px) {
    .nav-item {
      margin-bottom: 10px;
    }
  
    .menu-section {
      padding: 0.5em;
      margin-top: 5px;
    }
  
    body {
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }
  
   /* Ensure all movie cards have a consistent size */
.menu-item {
  margin-bottom: 20px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  flex-grow: 1;
  font-size: 1rem;
  margin-bottom: 15px;
  text-overflow: ellipsis;
  overflow:hidden;
}

.favorite-btn, .delete-btn {
  justify-content:space-between;
}
